#gh_repos {
    margin-top: 10px;
    li {
        padding: 0px 15px;
    }
    p {
        padding: 0px 15px;
        font-size: 13px;
    }
}
.gh-profile-link {
    margin: 6px;
    font-size: 13px;
}
